*  {
	font-family: "Tahoma";
	margin: 0px;
	padding: 0px; 
}
body {
	background-image: url("diamond_upholstery_@2X.png");
	overflow: hidden;
}

ul {
	padding-left: 0px;
}

#header {
	background-color: #05BBDD;
}
	#header p {
		margin-left: 35px;
		padding-top: 20px;
		padding-bottom: 20px;
		font-size: 20px;
		color: white;
		display: inline-block;
	}
	#header img{
		display: inline-block;
		margin-left: 35px;
	}
#side_bar{
	width: 20%;
	display: inline-block;
	vertical-align: top;
	margin-left: 25%;
	height: 94vh;
	overflow: scroll;
	overflow-x: hidden;
}
.top_text p{
	margin-left: 70px;
	font-size: 20px;
}
#content{
	display: inline-block;
	margin-left: 15%;
}
#filterdiv {
	position: relative;
	padding-left: 5px;
}
	#filterdiv p{
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 20px;
	}
#filters {
	position: relative;
	width: 300px;
	height: 200px;
	margin: 5px;
	margin-left: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: auto;
	overflow-y: scroll;
}
#filters li {
	padding-left: 3px;
	list-style: inside;
}

#filters li label {
	font-family: monospace;
	font-size: 10pt;
}

.unselectable, #filters li {
			    -webkit-touch-callout: none;
			    -webkit-user-select: none;
			    -khtml-user-select: none;
			    -moz-user-select: none;
			    -ms-user-select: none;
			    user-select: none;
			}

.selected {
	background-color: #cccccc;
}

.mono {
	font-family: monospace;
	font-size: 10pt
}
#add{
	font-family: arial;
	background-color: #027186;
	box-shadow: #05BBDD 0px 1px 0px inset;
	border:1px solid #025565;
	color: white;
	margin-left: 60px;
	margin-top: 5px;
	padding:6px 12px;
}
#save{
	font-family: arial;
	background-color: #027186;
	box-shadow: #05BBDD 0px 1px 0px inset;
	border:1px solid #025565;
	color: white;
	margin-left: 30px;
	margin-top: 5px;
	padding:6px 12px;
}
#entries li {
	list-style-type: none;
}
#addfilter{
	font-family: arial;
	background-color: #027186;
	box-shadow: #05BBDD 0px 1px 0px inset;
	border:1px solid #025565;
	color: white;
	margin-left: 10px;
	margin-top: 5px;
	padding:6px 12px;
}
#delfilter{
	font-family: arial;
	background-color: #027186;
	box-shadow: #05BBDD 0px 1px 0px inset;
	border:1px solid #025565;
	color: white;
	margin-top: 5px;
	padding:6px 12px;
}
#picker {
	display: none;
	position: absolute;
	border: 1px solid black;
	border-radius: 3px;
	padding: 5px;
	padding-right: 20px;
	padding-left: 20px;
	background-color: white;
}
.color {
	display: inline-block;
	position: relative;
	width: 32px;
	height: 32px;
	background-image: url("checkerboard.png");
	margin: 1px;
	border-radius: 17px;
	border: 1px solid black;
}
.days {
	width: 100%;
	height: 18px;
	padding: 1px 3px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
}
.incolor {
	background-color: red;
	position: absolute;
	top: 0;
	left: 0;
	height: 32px;
	width: 32px;
	border-radius: 17px;
}
.alphabg {
	background-image: url("checkerboard.png");
	position: absolute;
	top: 0;
	left: 0;
	height: 32px;
	width: 32px;
	border-radius: 15px;
}
.entry {
	position: relative;
	background-color: #FFFFFF;
	padding: 10px;
	border: 1px solid #888888;
	border-radius: 9px;
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
	height: 70px;
	width: 300px;
}
.entry p{
	display: inline-block;
	margin-bottom: 8px;
	text-align: left;
	vertical-align: top;
	padding-top: 8px;
	padding-left: 20px;
	font-size: 16px;
}
input[type="number"] {
   text-align: right;
   width: 40px;
   border: none;
}
.delbtn {
	display: inline-block;
	width: 40px;
	height: 100%;
}

.entry_top {
	width: 250px;
	display: inline-block;
}
.time {
	width: 250px;
	display: inline-block;
}
#side_bar::-webkit-scrollbar-track
{	
	background:transparent;
}
#side_bar::-webkit-scrollbar
{
	width: 10px;
	background:transparent;
}
#side_bar::-webkit-scrollbar-thumb
{
	background-color: #0ae;
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}